@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .asci {
    white-space: pre;
    line-height: 1.2;
  }
}

html {
  font-family: system-ui, sans-serif;
  background: #13151a;
  color: #e7e7e7;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}