---
import Layout from '../layouts/html-wrapper/Layout.astro';
---

<Layout title="Farid Shokri | Full Stack Software Engineer">
	<main class="w-min h-[100dvh] mx-auto flex flex-col justify-center text-[10px] sm:text-base">
		<h1 class="opacity-0 select-none">Farid Shokri</h1>
		<pre class="asci flex items-center justify-center text-center">
   ____         _    __  ______        __        _ 
  / __/__ _____(_)__/ / / __/ /  ___  / /__ ____(_)
 / _// _ `/ __/ / _  / _\ \/ _ \/ _ \/  '_// __/ / 
/_/  \_,_/_/ /_/\_,_/ /___/_//_/\___/_/\_\/_/ /_/  
		</pre>
		<code class="mt-5">
			<ol>
				<li>&gt; cat data.json</li>
				<li>&#123;</li>
				<li>&nbsp;&nbsp;"name": "farid shokri",</li>
				<li>&nbsp;&nbsp;"title": "full stack software engineer",</li>
				<li>&nbsp;&nbsp;"email": "<a href="mailto:farid_shokri@outlook.com">farid_shokri@outlook.com</a>",
				</li>
				<li>&nbsp;&nbsp;"linkedin": "<a href="https://www.linkedin.com/in/farid-shokri/">linkedin.com/in/farid-shokri/</a>",
				</li>
				<li>&nbsp;&nbsp;"twitter": "<a href="https://twitter.com/fe_shiin/">twitter.com/fe_shiin/</a>",
				</li>
				<li>&nbsp;&nbsp;"instagram": "<a href="https://www.instagram.com/fe._.shin/">instagram.com/fe._.shin/</a>",
				</li>
				<li>&nbsp;&nbsp;"letterboxd": "<a href="https://letterboxd.com/fe_shin/">letterboxd.com/fe_shin/</a>",
				</li>
				<li>&#125;</li>
				<li class="mt-2 text-[#4AF626]">farid@fe-shin:~$ <span class="animate-blink">▉</span></li>
			</ol>
		</code>
	</main>
</Layout>
