---
import Layout from '../layouts/html-wrapper/Layout.astro';
---

<Layout title="Farid Shokri | Full Stack Software Engineer">
  <main
    class="w-min h-[100dvh] mx-auto flex flex-col justify-center text-[10px] sm:text-base"
  >
    <h1 class="opacity-0 select-none h-0">
      Farid Shokri | Full Stack Software Engineer
    </h1>
    <p class="opacity-0 select-none h-0">
      Full Stack Software Engineer with 5 years of experience in SaaS,
      Ecommerce, and the Automotive industry. Specializes in accessibility,
      performance, and user experience on web applications.
    </p>
    <pre
      class="asci flex items-center justify-center text-center">
   ____         _    __  ______        __        _ 
  / __/__ _____(_)__/ / / __/ /  ___  / /__ ____(_)
 / _// _ `/ __/ / _  / _\ \/ _ \/ _ \/  '_// __/ / 
/_/  \_,_/_/ /_/\_,_/ /___/_//_/\___/_/\_\/_/ /_/  
		</pre>
    <code class="mt-5">
      <ol>
        <li>&gt; cat data.json</li>
        <li>&#123;</li>
        <li>&nbsp;&nbsp;"name": "Farid Shokri",</li>
        <li>&nbsp;&nbsp;"title": "Full Stack Software Engineer",</li>
        <li>
          &nbsp;&nbsp;"experience": ["SaaS", "Ecommerce", "Automotive
          Industry"],
        </li>
        <li>
          &nbsp;&nbsp;"specialties": ["Accessibility", "Performance", "User
          Experience"],
        </li>
        <li>
          &nbsp;&nbsp;"email": "<a href="mailto:farid_shokri@outlook.com"
            >farid_shokri@outlook.com</a
          >",
        </li>
        <li>
          &nbsp;&nbsp;"linkedin": "<a
            href="https://www.linkedin.com/in/farid-shokri/"
            >linkedin.com/in/farid-shokri/</a
          >",
        </li>
        <li>
          &nbsp;&nbsp;"github": "<a
            href="https://github.com/thefeshin"
            >github.com/thefeshin</a
          >",
        </li>
        <li>
          &nbsp;&nbsp;"twitter": "<a href="https://twitter.com/thefeshin/"
            >twitter.com/thefeshin/</a
          >",
        </li>
        <li>
          &nbsp;&nbsp;"instagram": "<a
            href="https://www.instagram.com/thefeshin/"
            >instagram.com/thefeshin/</a
          >",
        </li>
        <li>
          &nbsp;&nbsp;"letterboxd": "<a href="https://letterboxd.com/thefeshin/"
            >letterboxd.com/thefeshin/</a
          >",
        </li>
        <li>&#125;</li>
        <li class="mt-2 text-[#4AF626]">
          farid@fe-shin:~$ <span class="animate-blink">▉</span>
        </li>
      </ol>
    </code>
  </main>
</Layout>
